.row{
    margin-left: 30px;
    color: rgb(255, 255, 255);
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;

}

/* hiding scrollbar */
.posters::-webkit-scrollbar{
    display: none;

}
.poster{
    max-height: 250px;
    margin-right:10px ;
    cursor: pointer;
    border-radius: 15px;
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.poster:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.smallPoster:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}